body {
  font-family: $main-font-family;
  background-color: white;
  line-height: 1.5em;
}

a {
	font-family: $link-font-family;
	font-size: $link-font-size;
	color: $link-color;
	text-decoration: none;
	text-transform: uppercase;
    line-height: 45px;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: $conteiner-width+px;
	padding: 0 15px;
	margin: 0 auto;
}  

main {
	color: $main-text-color;
	font-size: $main-font-size; 

	.container .content {
		padding-right: 140px;
		padding-top: 45px;
	}

	.head_banner {
		width: 100%;

		img {
			width: 100%;
		}
	}

	ul,ol{
		padding-inline-start: 15px;
		li {
			a {
				color: $main-link-color;
				text-decoration: underline;
				text-transform: none;
			    line-height: 1em;
			}
		}
	}    

	h1 {
		font-family: $menu-font-family;
	}
	$h-font-size: 36;
	$h-step-font-size: 6;

	@for $i from 1 through 4 {
		  h#{$i}{  
		  	padding: 12px 0;
		  	margin: 0;
		    font-size: $h-font-size+px; 
		    $h-font-size: $h-font-size - $h-step-font-size;
	 	 }
	}

	p {
		font-size: $main-font-size; 
	}
	q {
	    margin: 15px 0;
		text-align: center;
		display: block;
		&:before, &:after {
			content: '';
		}
	}
} 